body {
    
    height: 90vh;
    background-color:aqua;
}

#ans {
    display: none;
}
#res{
    display: none;
}

#ansvideo{
    visibility: hidden;
}

#novideo{
    visibility: hidden;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:  #ff8e9f;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    height: auto;
}

img
{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

#deviceWarning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffcccc;
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.openBtn{
    margin-left: 35%;

}

.title{
    text-align: center;
    font-size: 50px;
    color: #333;
    margin-bottom: 5%;
}
.text_2{
        font-family: 'Poppins', sans-serif; /* Modern and clean font */
        font-size: 2rem; /* Adjust size as needed */
        font-weight: 700; /* Bold for emphasis */
        line-height: 1.2; /* Balanced spacing */
        color: #333; /* Dark gray for readability */
        text-align: center; /* Center-aligned for symmetry */
        letter-spacing: 1px; /* Slight spacing for elegance */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
        margin: 20px 0; /* Space around text */
        line-height: 50px;
}

@media only screen and (max-width: 600px) {
    .header_text{
        color: black;
        font-size: 40px;
    }
    .qrimage{
        max-width: 50%;
        padding-left: 25%;
    }
    .gif_container{
        margin-left:0;
        height: auto;
        width: auto;
    }
}